{% extends 'base.html.twig' %}

{% form_theme formInternshipOffer 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <h3> Ajoutez une offre d'emploi ! </h3>

    {{ form_start(formInternshipOffer) }}

    {{ form_row(formInternshipOffer.title, {'attr':{'placeholder':"Quel poste à pourvoir?"}}) }}
    {{ form_row(formInternshipOffer.description, {'attr':{'placeholder':"Décrivez le poste"}}) }}
    {{ form_row(formInternshipOffer.city, {'attr':{'placeholder':"Dans quelle ville?"}}) }}
    {{ form_row(formInternshipOffer.company, {'attr':{'placeholder':"Dans quelle entreprise?"}}) }}
    {{ form_row(formInternshipOffer.contact, {'attr':{'placeholder':"Qui contacter si intéressé?"}}) }}
    {{ form_row(formInternshipOffer.file, {'attr':{'placeholder':"Ajoutez une url"}}) }}
    {{ form_row(formInternshipOffer.startingDate) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {%  else %}
            Ajouter l'offre
        {% endif %}
    </button>
    {{ form_end(formInternshipOffer) }}

{% endblock %}

